body	{
	margin-top:1.0em;
	background:#edefee url('../img/bg-err.png');
	font-family:Helvetica, Arial, FreeSans, sans-serif;
	color:#444;
}
#container	{
	margin:0 auto;
	width:700px;
}
a	{color:#888; text-decoration:none; text-shadow:0 1px #fff;}
a:visited	{}
a:hover	{color:#666;}
a:active	{}
a img	{border:0;}
h1	{font-size:3.8em; color:#888; margin-bottom:3px; text-shadow:0 1px #fff;}
h1 .small	{font-size:0.4em;}
h1 a	{text-decoration:none; color:#888;}
h2	{font-size:1.5em; color:#888; text-shadow:0 1px #fff;}
h3	{text-align:center; color:#888; text-shadow:0 1px #fff;}
pre	{background:#000; color:#fff; padding:15px;}
pre .code-prompt	{color:lime;}
hr	{border:0;	width:80%; border-bottom:1px solid #aaa;}

/** SECTIONS **/
#s-dep dt	{font-style:italic;}

.description	{font-size:1.2em; margin-bottom:30px; margin-top:30px; font-style:italic;}
.download	{float:right;}

.footer	{text-align:center; padding-top:30px; font-style:italic;}

.dot-demo-area	{position:relative; background:#f8f8f8; border:1px solid #444; padding:50px 0;}
.dot-demo-area ul	{list-style:none; font-family:"Lucida Grande",Tahoma,inherit; font-size:11px;}
